@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #150C01;
    background-color: #E5E5E5;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #150C01;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header .container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__logo {
    width: 44px;
    height: 44px;
}

.header__nav {}

.header__list {
    display: flex;
    align-items: center;
    gap: 40px;
}

a:hover {
    opacity: 0.6;
    transition: 0.2s;
}

.header__list a {
    font-weight: 400;
    font-size: 16px;
}

.header__list .active {
    font-weight: 500;
    color: #dc780b
}

.btn {
    color: #fff;
    background-color: #DC780B;
    padding: 14px 30px;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.7;
    transition: 0.4s;
}



.main {}

.welcome .container {
    display: flex;
    margin-bottom: 170px;
}

.welcome__text {
    max-width: 555px;
    margin-top: 160px;

}

.welcome__h2 {
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 118%;



    padding-bottom: 42px;
}

.welcome__p {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    opacity: 0.7;
    padding-bottom: 71px;

}

.welcome__btn {
    border: none;
    box-shadow: 0 0 0 1.50px rgba(220, 120, 11, 0.2);
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    color: #dc780b;
    padding: 20px 40px;
    margin-left: 30px;


}

.welcome__btn:hover {
    background-color: #DC780B;
    opacity: 0.8;
    color: #fff;
    transition: 0.4s;
}

.main .btn {
    padding: 20px 40px;

}

.welcome__img {
    width: 550px;
    height: 570px;

}


.features {}

.features__h5 {
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #dc780b;
    opacity: 0.7;

}


.features__h4 {
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    font-size: 31px;
    text-transform: capitalize;
    padding-bottom: 64px;
}

.features__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.feature__flex-items {
    text-align: center;


}

.feature__img {
    width: 45px;
    height: 45px;


}

.bg-img {
    display: inline-block;
    padding-top: 12px;
    border-radius: 100%;
    background-color: #dbdfcf;
    width: 73px;
    height: 73px;

}


.flex_h3 {
    margin-top: 50px;
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 15px;
}

.flex_p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    max-width: 300px;
    opacity: 0.7;

}

.about {
    padding-top: 125px;
}

.about .container {
    display: flex;
    justify-content: space-between;
}

.about__img {
    width: 543px;
    height: 500px;
    border-radius: 35px;

}

.about__vector {
    position: absolute;
    top: 1060px;
    left: 0px;
    opacity: 0.9;

}

.about-text {}

.about__h5 {
    font-weight: 500;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #dc780b;
    opacity: 0.7;
    padding-bottom: 10px;
}


.about__h4 {
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    font-size: 31px;
    line-height: 130%;
    max-width: 460px;
    padding-bottom: 30px;
}

.about__p {
    line-height: 150%;
    opacity: 0.7;
    max-width: 473px;
    padding-bottom: 40px;
}

.about .btn {
    padding: 12px 32px;

}


.menu {
    padding-top: 115px;
    text-align: center;
}

.menu__h5 {
    font-weight: 500;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    color: #dc780b;
    opacity: 0.7;
    padding-bottom: 10px;
}

.menu__h4 {
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    font-size: 31px;
    text-align: center;
    padding-bottom: 25px;
}

.menu__p {
    margin: 0 auto;
    text-align: center;
    opacity: 0.7;
    max-width: 748px;
    padding-bottom: 60px;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

.container-cards {
    margin: 0 25px;
}

.menu-cards {
    background-color: #fff;
    max-width: 360px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 75px 10px 10px 10px;

}

.menu-img {}

.name-price {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card__h5 {
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.card__p {
    opacity: 0.7;
    margin-bottom: 20px;
}

.button-star {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;
}

.img__cards-button:hover {
    cursor: pointer;
    box-shadow: -1px 1px 10px 1px rgba(218, 59, 59, 0.97);
    border-radius: 5px;


}


.menu .welcome__btn {
    max-width: 145px;
    padding: 12px 30px;
 

}


.app {
    margin-top: 200px;
    background: #fbf1e7;


}

.app .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 520px;
}

.app__text {
    max-width: 555px;

}


.app__h5 {
    font-weight: 500;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #dc780b;
    opacity: 0.7;
    padding-bottom: 5px;
}

.app__h4 {
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    font-size: 31px;
    line-height: 130%;
    max-width: 440px;
    padding-bottom: 30px;
}

.app__p {
    max-width: 555px;
    line-height: 150%;
    opacity: 0.7;
    padding-bottom: 40px;
}

.app__btn {
    display: flex;
    gap: 30px;
}


.apple-btn {
    display: flex;
    gap: 10px;
    border-radius: 5px;
    align-items: center;
    padding: 11px 30px;
    background-color: #150C01;
}

.p-btn {
    font-weight: 500;
    color: #fff;
}

.apple-btn:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;


}

.img-btn {}


.p-btn-android {
    font-weight: 500;
}


.android-btn {
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow: 0 0 0 1.50px rgba(220, 120, 11, 0.2);
    border-radius: 5px;
    padding: 11px 30px;
}

.android-btn:hover {
    cursor: pointer;
    /* opacity: 0.7; */
    background-color: #150C01;
    color: #fff;
    transition: 0.3s;
}

.app__img {
    position: relative;

}


.testimonial {
    padding-top: 200px;
    text-align: center;
}

.testimonial__h5 {
    font-weight: 500;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #dc780b;
    opacity: 0.7;
    padding-bottom: 12px;
}

.testimonial__h4 {
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    font-size: 31px;
    color: #000;
    padding-bottom: 23px;
}

.testimonial__p {
    line-height: 150%;
    max-width: 740px;
    margin: 0 auto;
    opacity: 0.7;
    padding-bottom: 75px;
}

.testimonial__img {
    width: 60px;
    height: 51px;
    border-radius: 50%;
    background-size: cover;
    margin-bottom: 40px;

}

.testimonial__quote {}

.quote__p {
    max-width: 506px;
    margin: 0 auto;
    line-height: 150%;
    padding-bottom: 20px;

}

.star {}

.img__cards-button {}

.quote__author {
    display: block;
    text-transform: uppercase;
    padding-top: 32px;
    padding-bottom: 6px;
}

.quote__sub {
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.7;
}

.contact {
    background-color: #f6d3d3;
    margin-top: 120px;
}

.contact__h5 {
    font-weight: 500;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    color: #dc780b;
    opacity: 0.7;
    padding-top: 115px;
    padding-bottom: 15px;
}

.contact__h4 {
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    font-size: 31px;
    line-height: 130%;
    text-align: center;
    padding-bottom: 45px;
    max-width: 740px;
    margin: 0 auto;

}

.send-message {
    padding-bottom: 117px;
    margin: 0 auto;
    max-width: 755px;
}

.message_form {
    border: none;
    outline: none;
    border-radius: 10px;
    width: 594px;
    height: 75px;
    padding: 30px;
}

.message_button {
    border: none;
    width: 156px;
    height: 75px;
    border-radius: 10px;
    background-color: #DC780B;

    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #fff;
    position: relative;
    left: -35px;
    top: 2px;


}

.message_button:hover {
    cursor: pointer;
    background-color: #cda624;
    transition: 0.3s;
}


.footer {
    background-color: #252525;
    padding-top: 137px;
    padding-bottom: 40px;

}

.footer .container {
    display: flex;
    gap: 120px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 185px;
    color: #fff;

}

.footer__contacts a {
    color: #fff;
    opacity: 0.7;
}

.contacts_img {
    width: 60px;
    height: 60px;
}

.contacts_phone {
    opacity: 0.7;
}

.footer__nav {
    display: flex;
    gap: 180px;
}

.footer__nav li {
    padding-bottom: 20px;
}



.footer__list a {
    color: #fff;
    opacity: 0.7;

}

.footer__list .nav-bold {
    font-family: 'Philosopher', sans-serif;
    ;
    font-weight: 700;
    font-size: 18px;
    opacity: 1;

}


.list_flex {
    display: flex;
    gap: 10px;
}

.list_img:hover {
    cursor: pointer;

}

.footer__list a:hover {
    opacity: 1;
}


@media screen and (max-width: 1150px) {
    .container {
        margin: 0 30px;
    }
    .app {
        margin-top: 150px;
    }
    
}

@media screen and (max-width: 1050px) {
    .footer__nav {
        gap: 150px;
    }
    .about .container {
        gap: 30px;
    }
}

@media screen and (max-width: 970px) {
    .welcome__img {
        width: 450px;
        height: 470px;
    }
    .welcome .container {
        align-items: center;
    }
    .features__flex {
        justify-content: center;
        gap: 10px;
    }
    .about__img {
        width: 443px;
        height: 400px;
    }
    .footer__nav {
        gap: 80px;
    }
    .message_form {
        width: 550px;
    }
    .footer .container {
        gap: 90px;
    }
}

@media screen and (max-width: 800px) {
    .footer .container {
        gap: 40px;
    }
    .message_form {
        width: 550px;
    }
    .app__img {
        width: 280px;
        height: 550px;
    }
    .app .container {
        gap: 10px;
    }
    .about__h4 {
        font-size: 28px;
        padding-bottom: 19px;
    }
    .about .btn {
        padding: 10px 28px;
    }
    .about__p {
        padding-bottom: 27px;
    }
    .welcome__h2 {
        font-size: 40px;
    }
    .welcome__img {
        width: 410px;
        height: 400px;
    }
    .main .btn {
        padding: 15px 30px;
    }
    .welcome__btn {
        padding: 15px 30px;
    }
}

@media screen and (max-width: 770px) {
    .message_form {
        width: 530px;
    }
    .about__img {
        width: 400px;
        height: 380px;
    }
}

@media screen and (max-width: 700px) {
    .about__img {
        width: 390px;
        height: 350px;
    }
    body {
        font-size: 14px;
    }
    .main .btn {
        padding: 10px 25px;
    }
    .btn {
        padding: 10px 20px;
    }
    .header__list {
        gap: 26px;
    }
    .welcome__p {
        font-size: 14px;
    }
    .welcome__h2 {
        font-size: 36px;
    }
    .welcome .container {
        max-height: 450px;
    }
    .welcome__btn {
        font-size: 14px;
        margin-left: 20px;
    }
    .welcome__btn {
        display: block;
        margin: 0;
        max-width: 114px;
        padding: 10px 16px;
        margin-top: 20px;
        text-align: center;
    }
    .menu .welcome__btn {
        margin: 0 auto;
    }
    .app__h4 {
        font-size: 29px;
    }
    .app__img {
        width: 250px;
        height: 500px;
    }

    .message_button {
        width: 140px;
    }
    .message_form {
        width: 470px;
    }
    .footer .container {
        gap: 16px;
    }
}

@media screen and (max-width: 600px) {
    .welcome__img {
        position: absolute;
        z-index: -1;
        opacity: 0.8;
        top: 200px;
        opacity: 0.5;
    }
    .welcome__p {
        opacity: 1;
        padding-bottom: 40px;
    }

    .header__list {
        gap: 15px;
    }
    .welcome .container {
        min-height: 300px;
    }

    .about .container {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    .about__h5 {
        text-align: center;
    }

    .apple-btn {
        padding: 7px 14px;
    }
    .android-btn {
        padding: 9px 14px;
    }
    .img-btn {
        width: 20px;
        height: 20px;
    }

    .app__h4 {
        font-size: 26px;
    }
    
    .app__p {
        font-size: 14px;
    }
    .footer__nav {
        flex-wrap: wrap;
    }
    .message_form {
        width: 350px;
    }
    .message_button {
        width: 100px;
    }
}

@media screen and (max-width: 500px) {
    .header .container {
        flex-direction: column;
        gap: 10px;
    }
    .header__list {
        flex-direction: column;
        gap: 10px;
    }
    .welcome__text {
        text-align: center;
    }
    .welcome__btn {
        
        margin: 15px auto;
    }
    .about-text {
        text-align: center;
    }
    .app__img {
        width: 200px;
        height: 350px;
   
    }
    .app__btn {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .android-btn {
        padding: 9px 12px;
        max-width: 130px;
    }
    .apple-btn {
        width: 130px;
    }
    .app__h5 {
        padding-top: 8px;
    }
   
    .message_form {
        max-width: 60%;
        height: 60px;
    }
    .message_button {
        height: 60px;
    }
    .about__img {
        
        width: 340px;
        height: 300px;
    }
    .welcome__img {
        left: -50px;
    }
    
    
}
@media screen and (max-width: 450px) {
    .app__img {
        display: none;
    }
    .app__btn {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    .app__text {
        text-align: center;
    }
    .message_button {
        left: -10px;
    }
}